*.settings
*.project
.settings
.classpath
.project
target
libs
/sources/client/.idea
/sources/persistency/*.log
.idea
.iml
*.iml
node_modules
sources_generator
/sources/client/npm-debug.log
/sources/client/*.log
/sources/client/dist
sources/crmf-model/json/*.json
sources/security-requirement-import/json/*.json
