<?xml version='1.0' encoding='UTF-8' ?>
	<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
	  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>
<mapper namespace='org.crmf.persistency.mapper.risk.RiskTreatmentMapper'>
	<resultMap type='SestRiskTreatmentModel' id='SestRiskTreatmentModel'>
		<result property='sestobjId' column='SESTOBJ_ID' />
		<result property='riskTreatmentModelJson' column='RISKTREATMENT_MODEL_JSON' />
	</resultMap>
	
	<insert id='insert' parameterType='SestRiskTreatmentModel' useGeneratedKeys='true'
		keyProperty='id' keyColumn='ID'>
		INSERT INTO RISKTREATMENT_MODEL(SESTOBJ_ID, RISKTREATMENT_MODEL_JSON)
		VALUES (#{sestobjId}, #{riskTreatmentModelJson})
	</insert>
	
	<update id='update' parameterType='map'>
		UPDATE RISKTREATMENT_MODEL
		SET
		RISKTREATMENT_MODEL_JSON = #{riskTreatmentModelJson}
		WHERE SESTOBJ_ID = #{sestobjId}
	</update>
	
	<select id='getByIdentifier' parameterType='String' resultMap='SestRiskTreatmentModel'>
		SELECT *
		FROM RISKTREATMENT_MODEL 
		WHERE SESTOBJ_ID = '${value}'
	</select>

	<select id='getById' parameterType='int' resultMap='SestRiskTreatmentModel'>
		SELECT *
		FROM RISKTREATMENT_MODEL 
		WHERE ID = '${value}'
	</select>
</mapper>