<?xml version='1.0' encoding='UTF-8' ?>
	<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
	  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>
<mapper namespace='org.crmf.persistency.mapper.audit.AssAuditDefaultMapper'>

	<resultMap type='AssauditDefaultJSON' id='AssauditDefaultJSON'>
		<result property='questionnaireJSON' column='QUESTIONNAIRE_JSON' />
		<result property='questionnaireJSON' column='QUESTIONNAIRE_JSON' />
		<result property='questionnaireJSON' column='QUESTIONNAIRE_JSON' />
	</resultMap>

	<insert id='insert' parameterType='AssauditDefaultJSON' useGeneratedKeys='true'
			keyProperty='id' keyColumn='ID'>
		INSERT INTO ASSAUDIT_DEFAULT(IX, AVALUE, ATYPE, CATEGORY, QUESTIONNAIRE_JSON)
		VALUES (#{ix}, #{avalue}, #{atype}, #{category}, #{questionnaireJSON})
	</insert>

	<update id='updateQuestionnaireJSON' parameterType='AssauditDefaultJSON'>
		UPDATE ASSAUDIT_DEFAULT
		SET
		QUESTIONNAIRE_JSON = #{questionnaireJSON}
		WHERE ID = #{id}
	</update>

	<select id='getAll' resultMap='AssauditDefaultJSON'>
		SELECT *
		FROM ASSAUDIT_DEFAULT
		ORDER BY ID
	</select>

	<select id='getAllQuestionnaires' resultMap='AssauditDefaultJSON'>
		SELECT *
		FROM ASSAUDIT_DEFAULT WHERE ATYPE = 'QUESTIONNAIRE'
		ORDER BY ID
	</select>

	<select id='getAllQuestionnaireNames' resultMap='AssauditDefaultJSON'>
		SELECT ID, IX, AVALUE, ATYPE, CATEGORY
		FROM ASSAUDIT_DEFAULT WHERE ATYPE = 'QUESTIONNAIRE'
		ORDER BY ID
	</select>

	<select id='getAllByParentCategory' resultMap='AssauditDefaultJSON'>
		SELECT *
		FROM ASSAUDIT_DEFAULT WHERE PARENT = '${value}'
		ORDER BY ID
	</select>

	<select id='getByCategory' parameterType='String' resultMap='AssauditDefaultJSON'>
		SELECT *
		FROM ASSAUDIT_DEFAULT
		WHERE CATEGORY = '${value}'
	</select>

	<select id='getSafeguardByIdentifier' resultMap='AssauditDefaultJSON'>
		SELECT *
		FROM ASSAUDIT_DEFAULT
		WHERE ATYPE = 'CATEGORY' AND CHAR_LENGTH(CATEGORY) = 5
	</select>
</mapper>
