<!--  --------------------------------------------------------------------------------------------------------------------
// Copyright file="users-tab.component.html"
//  © Copyright European Space Agency, 2018-2020
//
//  Author: Software developed by RHEA System S.A.
//
//  This file is subject to the terms and conditions defined in file 'LICENSE.txt', which is part of this source code package.
//  No part of the package, including this file, may be copied, modified, propagated, or distributed
//  except according to the terms contained in the file ‘LICENSE.txt’.
// -------------------------------------------------------------------------------------------------------------------- -->
<p-dialog header="Change Password" [(visible)]="displayEditPassword" modal="modal"
          [contentStyle]="{'max-height': '75vh','min-height':'250px', 'overflow-y': 'auto'}" [style]="{width: '600px'}"
          responsive="true" (onHide)="onClose()">
  <div class="container-fluid">
    <div class="main-login main-center">
      <form class="form-horizontal" method="post" action="#">
        <div [formGroup]="passwordForm" class="form-group">
          <label for="username" class="cols-sm-2 control-label">Username</label>
          <div class="cols-sm-10">
            <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-users fa" aria-hidden="true"></i>
            </span>
              <input formControlName="username" class="form-control" name="username" id="username"/>
            </div>
            <control-messages [control]="passwordForm.controls.username"></control-messages>
          </div>
        </div>

        <div [formGroup]="passwordForm" class="form-group">
          <label for="password" class="cols-sm-2 control-label">New Password</label>
          <div class="cols-sm-10">
            <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-lock fa-lg" aria-hidden="true"></i>
            </span>
              <input formControlName="password" class="form-control" name="password" id="password"
                     type={{kindTypePassReset}}/>
              <span class="input-group-addon" style="background-color: #FFFFFF">

              <i class="glyphicon glyphicon-eye-open" style="cursor: pointer" (click)="changePassReset()"
                 *ngIf="glyPassReset"></i>
              <i class="glyphicon glyphicon-eye-close" style="cursor: pointer" (click)="changePassReset()"
                 *ngIf="!glyPassReset"></i>
            </span>

            </div>
            <control-messages [control]="passwordForm.controls.password"></control-messages>
          </div>
        </div>

        <div [formGroup]="passwordForm" class="form-group">
          <label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
          <div class="cols-sm-10">
            <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-lock fa-lg" aria-hidden="true"></i>
            </span>
              <input formControlName="confirm" class="form-control" name="confirm" id="confirm"
                     type={{kindTypeConfirmReset}}/>

              <span class="input-group-addon" style="background-color: #FFFFFF">

              <i class="glyphicon glyphicon-eye-open" style="cursor: pointer" (click)="changeConfirmReset()"
                 *ngIf="glyConfReset"></i>
              <i class="glyphicon glyphicon-eye-close" style="cursor: pointer" (click)="changeConfirmReset()"
                 *ngIf="!glyConfReset"></i>

            </span>
            </div>
            <control-messages [control]="passwordForm.controls.confirm"></control-messages>
          </div>
        </div>

      </form>
    </div>

    <p-footer>
      <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
        <button type="button" pButton icon="fa fa-fw fa-check" [disabled]="!passwordForm.valid"
                (click)="changePassword()" label="Save"></button>
        <button type="button" pButton icon="fa fa-fw fa-close" (click)="closeForm()" label="Cancel"></button>
      </div>
    </p-footer>
  </div>
</p-dialog>
