<!--  --------------------------------------------------------------------------------------------------------------------
// Copyright file="tabs.component.html"
//  © Copyright European Space Agency, 2018-2020
//
//  Author: Software developed by RHEA System S.A.
//
//  This file is subject to the terms and conditions defined in file 'LICENSE.txt', which is part of this source code package.
//  No part of the package, including this file, may be copied, modified, propagated, or distributed
//  except according to the terms contained in the file ‘LICENSE.txt’.
// -------------------------------------------------------------------------------------------------------------------- -->

<div>

  <!--<p-tabView (onChange)="handleChangeProject($event)">-->

  <!--<p-tabPanel header="Home" leftIcon="fa-home">   </p-tabPanel>-->
  <!--<p-tabPanel header="Projects" leftIcon="fa-print" > </p-tabPanel>-->
  <!--<p-tabPanel header="Users" leftIcon="fa-user-o "></p-tabPanel>-->
  <!--<p-tabPanel header="Settings" leftIcon="fa-cog" [disabled]="disabled">  </p-tabPanel>-->


  <!--</p-tabView>-->

  <p-tabMenu [model]="mainTabsItems" [activeItem]=currentTab></p-tabMenu>


</div>


<router-outlet></router-outlet>
