/* --------------------------------------------------------------------------------------------------------------------
// Copyright file="profile.component.css"
//  © Copyright European Space Agency, 2018-2020
//
//  Author: Software developed by RHEA System S.A.
//
//  This file is subject to the terms and conditions defined in file 'LICENSE.txt', which is part of this source code package.
//  No part of the package, including this file, may be copied, modified, propagated, or distributed
//  except according to the terms contained in the file ‘LICENSE.txt’.
// --------------------------------------------------------------------------------------------------------------------
*/

#profileComponentContainer {
  width: 100%;
  margin-top: 1%;
}

#profileMenuContainer {
  width: 11%;
  float: left;
  margin-left: 0.3%;
}

#profileFormContainer {
  width: 88%;
  float: left;
}

.loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #067606;
  /* Green */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

:host {
  ::ng-deep {
    .createProfileSpinner {

      .ui-dialog-content.ui-widget-content {
        overflow: hidden !important;
        background-color: transparent !important;
        border: transparent !important;
        box-shadow: none !important;
      }

      .ui-shadow {
        box-shadow: none;
      }
    }
  }
}


