<!-- --------------------------------------------------------------------------------------------------------------------
// Copyright file="home.component.html"
//  © Copyright European Space Agency, 2018-2020
//
//  Author: Software developed by RHEA System S.A.
//
//  This file is subject to the terms and conditions defined in file 'LICENSE.txt', which is part of this source code package.
//  No part of the package, including this file, may be copied, modified, propagated, or distributed
//  except according to the terms contained in the file ‘LICENSE.txt’.
// -------------------------------------------------------------------------------------------------------------------->

<div class="container">
  <div class="row">
    <!--<div class="col-md-3">-->



    <!--</div>-->

    <div class="box" style="text-align: center">

     <img src="../../../assets/newlogo3.png" width="600" height="300" class="center-block img-responsive"/>



    </div>
  </div>

  <div class="row">

    <div class="col-md-12">
      <div class="offer offer-default" id="homeOffer">
        <div class="offer-content" id="homeOfferContent">

          <h3 class="lead">
            How is it possible to evaluate the cyber-risk level of a system which does not yet exist?
          </h3>


          <p style=" text-align: justify"> Modern systems and software engineering are supported by a wide range of automated tools.  Requirements management software is commonly available as a means to capture and define requirements, analyse system and software dependencies and derive lower level requirements.  Very often, these same tools support system and software models that can be used to conduct feasibility studies, develop designs and support traceability from requirements through to test.  These tools intentionally support an integrated product development life cycle and improve delivery through best practice development.
          Despite the range of integrated tools available, none of the current tools include an integrated package for system and software security engineering (SSSE).  SSSE involves two fundamental and inter-related processes that provide the foundation for follow-on security engineering practice.  These are:
          <br>
          </p>
          <p style="margin-left: 10px">
            •	Cyber-security Risk Assessment
            <br>
          •	Security requirements analysis
            <br>
          </p>
          <p style=" text-align: justify">
          There exists a clear inter-dependency between the system and software requirements and design processes, and the cyber-security Risk Assessment and cyber-security requirements analysis process.  The cyber-security Risk Assessment provides a structured means to assess the risk to the system or software as a function of the system and information asset values, system vulnerabilities and perceived threats from intentional and unintentional sources.  System vulnerabilities are often identified due to system and software design choices taken to meet functional requirements.
          Cyber-security requirements respond to the residual risk identified during the cyber-security Risk Assessment process through identification of security mechanisms intended to reduce the residual risk.  The cyber-security requirements may take a variety of forms (e.g., security policies and procedures; personnel and physical security controls; and system or software technical security controls) many of which will have a corresponding impact on non-security system or software requirements and design choices.
            <br><br>
          The SEST tool is a prototype software intended to first support the space systems development challenges encountered by the ESA programs, where cyber-security is already an established concern.
          </p>

        </div>

      </div>
    </div>


  </div>

</div>


