<?xml version='1.0' encoding='UTF-8' ?>
	<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
	  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>
<mapper namespace='org.crmf.persistency.mapper.project.AsstemplateMapper'>

	<resultMap type='Asstemplate' id='Asstemplate'>
		<result property='sestobjId' column='SESTOBJ_ID' />
		<result property='creationTime' column='CREATION_TIME' />
		<result property='procedureId' column='PROCEDURE_ID' />
		<result property='assetId' column='ASSET_ID' />
		<result property='threatId' column='THREAT_ID' />
		<result property='vulnerabilityId' column='VULNERABILITY_ID' />
		<result property='safeguardId' column='SAFEGUARD_ID' />
		<result property='riskModelId' column='RISKMODEL_ID' />
	</resultMap>
	
	<insert id='insert' parameterType='Asstemplate' useGeneratedKeys='true'
		keyProperty='id' keyColumn='ID'>
		INSERT INTO ASSTEMPLATE(NAME, DESCRIPTION, METHODOLOGY, PHASE, CREATION_TIME, ASSET_ID, THREAT_ID, VULNERABILITY_ID, SAFEGUARD_ID, RISKMODEL_ID, SESTOBJ_ID)
		VALUES (#{name}, #{description}, #{methodology},#{phase}, NOW(), #{assetId}, #{threatId}, #{vulnerabilityId}, #{safeguardId}, #{riskModelId}, #{sestobjId})
	</insert>

	<insert id='insertProfileAssoc' parameterType='Asstemplate' useGeneratedKeys='true'
		keyProperty='id' keyColumn='ID'>
		INSERT INTO ASSPROFILE_TEMPLATE(PROFILE_ID, TEMPLATE_ID)
		VALUES (#{profileId}, #{id})
	</insert>
	
	<delete id='deleteProfileAssoc' parameterType='Asstemplate'>
		DELETE FROM
		ASSPROFILE_TEMPLATE WHERE PROFILE_ID = #{profileId} AND TEMPLATE_ID = #{id}
	</delete>
	
	<update id='update' parameterType='Asstemplate'>
		UPDATE ASSTEMPLATE
		SET
		NAME = #{name},
		DESCRIPTION = #{description}, 
		METHODOLOGY = #{methodology}, 
		PHASE = #{phase}, 
		ASSET_ID = #{assetId}, 
		THREAT_ID = #{threatId}, 
		VULNERABILITY_ID = #{VULNERABILITY_ID}, 
		SAFEGUARD_ID = #{safeguardId}, 
		RISKMODEL_ID = #{riskModelId}
		WHERE ID = #{id}
	</update>
	
	<select id='getById' parameterType='int' resultMap='Asstemplate'>
		SELECT *
		FROM ASSTEMPLATE
		WHERE ID = '${value}'
	</select>
	
	<select id='getIdByIdentifier' parameterType='String'
		resultType='Integer'>
		SELECT id
		FROM ASSTEMPLATE 
		WHERE SESTOBJ_ID = '${value}'
	</select>

	<select id='getByIdentifier' parameterType='String' resultMap='Asstemplate'>
		SELECT *
		FROM ASSTEMPLATE 
		WHERE SESTOBJ_ID = '${value}'
	</select>
	
	<delete id='delete' parameterType='int'>
		DELETE FROM ASStemplate WHERE ID =
		'${value}'
	</delete>

	<delete id='deleteByIdentifier' parameterType='String'>
		DELETE FROM
		ASSTEMPLATE WHERE SESTOBJ_ID = '${value}'
	</delete>
    
	<select id='getAll' resultMap='Asstemplate'>
		SELECT * FROM ASSTEMPLATE
	</select>
	
	<select id='getByMethodology' resultMap='Asstemplate' parameterType='String'>
		SELECT * FROM ASSTEMPLATE WHERE METHODOLOGY LIKE '${value}'
	</select>
	
	<select id='getByProfileIdentifier' resultMap='Asstemplate' parameterType='String'>
		SELECT t.* FROM ASSTEMPLATE AS t, ASSPROFILE_TEMPLATE AS at, ASSPROFILE AS p WHERE p.SESTOBJ_ID = '${value}' AND p.ID = at.PROFILE_ID AND at.TEMPLATE_ID = t.ID
	</select>
</mapper>