<!--  --------------------------------------------------------------------------------------------------------------------
// Copyright file="scenario.component.html"
//  © Copyright European Space Agency, 2018-2020
//
//  Author: Software developed by RHEA System S.A.
//
//  This file is subject to the terms and conditions defined in file 'LICENSE.txt', which is part of this source code package.
//  No part of the package, including this file, may be copied, modified, propagated, or distributed
//  except according to the terms contained in the file ‘LICENSE.txt’.
// -------------------------------------------------------------------------------------------------------------------- -->

<div id="scenarioContainer">

  <p-table [value]="scenarioData" selectionMode="single" [rows]="10" [paginator]="true" [resetPageOnSort]="false"
           [metaKeySelection]="false" id="scenarioTable" [tableStyle]="{'font-size':'9px'}">

    <ng-template pTemplate="header" let-scenario>
      <tr>
        <th [ngClass]="'pr-column01'" [pSortableColumn]="'assetName'">Asset Name
          <p-sortIcon [field]="'assetName'"></p-sortIcon></th>
        <th [ngClass]="'pr-columnPrimaryCategory'" [pSortableColumn]="'assetPrimaryCategory'">Asset Primary Category
          <p-sortIcon [field]="'assetPrimaryCategory'"></p-sortIcon></th>
        <th [ngClass]="'pr-columnSecondaryCategory'" [pSortableColumn]="'assetSecondaryCategory'">Asset Secondary Category
          <p-sortIcon [field]="'assetSecondaryCategory'"></p-sortIcon></th>
        <th [ngClass]="'pr-column01'" [pSortableColumn]="'impactScope'">Impact Scope
          <p-sortIcon [field]="'impactScope'"></p-sortIcon></th>
        <th [ngClass]="'pr-column01'" [pSortableColumn]="'vulnerabilityCode'">Vulnerability ID
          <p-sortIcon [field]="'vulnerabilityCode'"></p-sortIcon></th>
<!--        <th [ngClass]="'pr-column01'" [pSortableColumn]="'vulnerabilityDescription'">Vulnerability Description-->
<!--          <p-sortIcon [field]="'vulnerabilityDescription'"></p-sortIcon></th>-->
        <th [ngClass]="'pr-column01'" [pSortableColumn]="'threatCat'">Threat ID
          <p-sortIcon [field]="'threatCat'"></p-sortIcon></th>
        <th [ngClass]="'pr-columnDescription'" [ngClass]="'pr-columnDescription'" [pSortableColumn]="'scenarioDescription'">Scenario Description
          <p-sortIcon [field]="'scenarioDescription'"></p-sortIcon></th>
<!--        <th [ngClass]="'pr-column01'" [pSortableColumn]="'scenarioClass'">Scenario Class-->
<!--          <p-sortIcon [field]="'scenarioClass'"></p-sortIcon></th>-->
        <th [ngClass]="'pr-column02'" [pSortableColumn]="'intrinsicImpact'">Intrinsic Impact
          <p-sortIcon [field]="'intrinsicImpact'"></p-sortIcon></th>
        <th [ngClass]="'pr-column02'" [pSortableColumn]="'intrinsicLikelihood'">Intrinsic Likelihood
          <p-sortIcon [field]="'intrinsicLikelihood'"></p-sortIcon></th>
        <th [ngClass]="'pr-column02'" [pSortableColumn]="'intrinsicSeriousness'">Intrinsic Seriousness
          <p-sortIcon [field]="'intrinsicSeriousness'"></p-sortIcon></th>
<!--        <th [ngClass]="'pr-column02'" [pSortableColumn]="'dissuasion'">Dissuasion-->
<!--          <p-sortIcon [field]="'dissuasion'"></p-sortIcon></th>-->
<!--        <th [ngClass]="'pr-column02'" [pSortableColumn]="'prevention'">Prevention-->
<!--          <p-sortIcon [field]="'prevention'"></p-sortIcon></th>-->
<!--        <th [ngClass]="'pr-column02'" [pSortableColumn]="'confining'">Confining-->
<!--          <p-sortIcon [field]="'confining'"></p-sortIcon></th>-->
<!--        <th [ngClass]="'pr-column02'" [pSortableColumn]="'palliation'">Palliation-->
<!--          <p-sortIcon [field]="'palliation'"></p-sortIcon></th>-->
        <th [ngClass]="'pr-column02'" [pSortableColumn]="'expertImpact'">Expert Impact
          <p-sortIcon [field]="'expertImpact'"></p-sortIcon></th>
        <th [ngClass]="'pr-column02'" [pSortableColumn]="'expertLikelihood'">Expert Likelihood
          <p-sortIcon [field]="'expertLikelihood'"></p-sortIcon></th>
        <th [ngClass]="'pr-column03'" [pSortableColumn]="'calculatedImpact'">Calculated Impact
          <p-sortIcon [field]="'calculatedImpact'"></p-sortIcon></th>
        <th [ngClass]="'pr-column03'" [pSortableColumn]="'calculatedLikelihood'">Calculated Likelihood
          <p-sortIcon [field]="'calculatedLikelihood'"></p-sortIcon></th>
        <th [ngClass]="'pr-column04'" [pSortableColumn]="'calculatedSeriousness'">Calculated Seriousness
          <p-sortIcon [field]="'calculatedSeriousness'"></p-sortIcon></th>
        <th [ngClass]="'pr-column03'" [pSortableColumn]="'accept'">Scenario Result
          <p-sortIcon [field]="'accept'"></p-sortIcon></th>
        <th [ngClass]="'pr-column01'" [pSortableColumn]="'excluded'">Excluded
          <p-sortIcon [field]="'excluded'"></p-sortIcon></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-scenario>
      <tr (dblclick)="doubleClick($event, scenario)">
        <td >{{scenario.assetName}}</td>
        <td >{{scenario.assetPrimaryCategory}}</td>
        <td >{{scenario.assetSecondaryCategory}}</td>
        <td >{{scenario.impactScope}}</td>
        <td >{{scenario.vulnerabilityCode}}</td>
<!--        <td >{{scenario.vulnerabilityDescription}}</td>-->
        <td >{{scenario.threatCat}}</td>
        <td >{{scenario.scenarioDescription}}</td>
<!--        <td >{{scenario.scenarioClass}}</td>-->
        <td >{{scenario.intrinsicImpact}}</td>
        <td >{{scenario.intrinsicLikelihood}}</td>
        <td >{{scenario.intrinsicSeriousness}}</td>
<!--        <td >{{scenario.dissuasion}}</td>-->
<!--        <td >{{scenario.prevention}}</td>-->
<!--        <td >{{scenario.confining}}</td>-->
<!--        <td >{{scenario.palliation}}</td>-->
        <td >{{scenario.expertImpact}}</td>
        <td >{{scenario.expertLikelihood}}</td>
        <td >{{scenario.calculatedImpact}}</td>
        <td >{{scenario.calculatedLikelihood}}</td>
        <td >
          <div *ngIf="scenario.calculatedSeriousness === 'LOW'">
            <span style="color: green;font-weight: bold; ">{{ scenario.calculatedSeriousness }}</span>
          </div>

          <div *ngIf="scenario.calculatedSeriousness === 'MEDIUM'">
            <span style="color: #ffdb00;font-weight: bold;">{{ scenario.calculatedSeriousness }}</span>
          </div>

          <div *ngIf="scenario.calculatedSeriousness === 'HIGH'">
            <span style="color: orange;font-weight: bold;">{{ scenario.calculatedSeriousness }}</span>
          </div>

          <div *ngIf="scenario.calculatedSeriousness === 'CRITICAL'">
            <span style="color: red;font-weight: bold;">{{ scenario.calculatedSeriousness }}</span>
          </div>
        </td>
        <td >{{scenario.accept}}</td>
        <td >{{scenario.excluded}}</td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog [(visible)]="blocked" modal="modal" [responsive]="true" [showHeader]="false" class="scenarioSpinner">

  <div *ngIf="!blockedMessage">
    <h1></h1>
    <div class="loader"></div>
  </div>

  <div *ngIf="blockedMessage">
    <p-messages [(value)]="msgs"></p-messages>
  </div>

</p-dialog>

<p-dialog header="Edit Scenario" [(visible)]="displayEditScenario" modal="modal" width="1700" responsive="true"
          [closable]="false">

  <div class="row">
    <div class="col-md-1">
      <label>Impact Scope</label>
      <i class="fa fa-info-circle" (click)="infoImpactScope()" style="cursor:pointer;margin-left:1px;"></i>
      <p>{{ impactScope }}</p>
    </div>

    <div class="col-md-1">
      <label>Class</label>
      <i class="fa fa-info-circle" (click)="infoClassScenario()" style="cursor:pointer;margin-left:1px;"></i>
      <p>{{ scenarioClass }}</p>
    </div>

    <div class="col-md-2">

      <div [formGroup]="scenarioForm" class="form-group">
        <label for="sceRes">Scenario Result</label>
        <i class="fa fa-info-circle" (click)="infoScenarioResult()" style="cursor:pointer;margin-left:1px;"></i>
        <select formControlName="sceRes" class="form-control" name="sceRes" id="sceRes" style="height: 30px">
          <option value="Accept">Accept</option>
          <option value="Transfer">Transfer</option>
          <option value="Avoid">Avoid</option>
          <option value="Reduce">Reduce</option>
        </select>
        <control-messages [control]="scenarioForm.controls.sceRes"></control-messages>
      </div>
    </div>

    <div class="col-md-2">

      <div class="col-md-8">
        <label>Exclude Scenario
        </label>
        <i class="fa fa-info-circle" (click)="infoExcludeScenario()" style="cursor:pointer;margin-left:1px;"></i>
      </div>
      <div class="col-md-4">
        <input #scenExc type="checkbox" [checked]="excluded" (change)="excluded= scenExc.checked">
      </div>

    </div>
    <div class="col-md-3">
      <label for="sestDesc">SEST Description</label>
      <textarea class="form-control" [(ngModel)]="sestDescription" rows="2" name="sestDesc" id="sestDesc"
                disabled> </textarea>
    </div>

    <div class="col-md-3">
      <div [formGroup]="scenarioForm" class="form-group">
        <label for="usDesc">User Description</label>
        <textarea formControlName="usDesc" [(ngModel)]="userDescription" class="form-control" rows="2" name="usDesc"
                  id="usDesc"> </textarea>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h1>
        <b>Intrinsic Scenario Values</b>
      </h1>
      <hr>

      <div class="col-md-4">
        <label>Intrinsic Impact</label>
        <i class="fa fa-info-circle" (click)="infoIntrisincImpact()" style="cursor:pointer;margin-left:1px;"></i>
        <p>{{ intrinsicImpact }}</p>
      </div>

      <div class="col-md-4">
        <label>Intrinsic Likelihood</label>
        <i class="fa fa-info-circle" (click)="infoIntrisincLikelihood()"
           style="cursor:pointer;margin-left:1px;"></i>
        <p>{{ intrinsicLikelihood }}</p>
      </div>

      <div class="col-md-4">
        <label>Intrinsic Seriousness</label>
        <i class="fa fa-info-circle" (click)="infoIntrisincSeriousness()"
           style="cursor:pointer;margin-left:1px;"></i>
        <p>{{ intrinsicSeriousness }}</p>
      </div>

    </div>

    <div class="col-md-6">

      <h1>
        <b>Expert Scenario Values</b>
      </h1>
      <hr>

      <div class="col-md-6">
        <div [formGroup]="scenarioForm" class="form-group">
          <label for="impExp">Expert Impact</label>
          <i class="fa fa-info-circle" (click)="infoExpertImpact()" style="cursor:pointer;margin-left:1px;"></i>
          <select formControlName="impExp" class="form-control" name="impExp" id="impExp" style="height: 30px">

            <option value=null></option>
            <option value="LOW">LOW</option>
            <option value="MEDIUM">MEDIUM</option>
            <option value="HIGH">HIGH</option>
            <option value="CRITICAL">CRITICAL</option>

          </select>
          <control-messages [control]="scenarioForm.controls.impExp"></control-messages>
        </div>
      </div>

      <div class="col-md-6">
        <div [formGroup]="scenarioForm" class="form-group">
          <label for="likExp">Expert Likelihood</label>
          <i class="fa fa-info-circle" (click)="infoExpertLikelihood()" style="cursor:pointer;margin-left:1px;"></i>
          <select formControlName="likExp" class="form-control" name="likExp" id="likExp" style="height: 30px">

            <option value=null></option>
            <option value="LOW">LOW</option>
            <option value="MEDIUM">MEDIUM</option>
            <option value="HIGH">HIGH</option>
            <option value="VERY_HIGH">VERY_HIGH</option>
          </select>
          <control-messages [control]="scenarioForm.controls.likExp"></control-messages>

        </div>
      </div>
    </div>


  </div>
  <div class="row">

    <div class="col-md-6">

      <h1>
        <b>Calculated Scenario Values</b>
      </h1>
      <hr>
      <div class="col-md-4">
        <label>Calculated Impact</label>
        <i class="fa fa-info-circle" (click)="infoCalculatedImpact()" style="cursor:pointer;margin-left:1px;"></i>
        <p>{{ calculatedImpact }}</p>
      </div>

      <div class="col-md-4">
        <label>Calculated Likelihood</label>
        <i class="fa fa-info-circle" (click)="infoCalculatedLikelihood()"
           style="cursor:pointer;margin-left:1px;"></i>
        <p>{{ calculatedLikelihood }}</p>
      </div>

      <div class="col-md-4">
        <label>Calculated Seriousness</label>
        <i class="fa fa-info-circle" (click)="infoCalculatedSeriousness()"
           style="cursor:pointer;margin-left:1px;"></i>
        <p>{{ calculatedSeriousness }}</p>
      </div>
    </div>

    <div class="col-md-6">
      <div class="col-md-6">
        <div [formGroup]="scenarioForm" class="form-group">
          <label for="usImpDesc">Expert Impact Description</label>
          <textarea formControlName="usImpDesc" [(ngModel)]="expertImpactDescription" class="form-control" rows="3"
                    name="usImpDesc" id="usImpDesc"> </textarea>
        </div>
      </div>

      <div class="col-md-6">
        <div [formGroup]="scenarioForm" class="form-group">

          <label for="usLikDesc">Expert Likelihood Description</label>
          <textarea formControlName="usLikDesc" [(ngModel)]="expertLikelihoodDescription" class="form-control" rows="3"
                    name="usLikDesc"
                    id="usLikDesc"> </textarea>
        </div>
      </div>
    </div>


  </div>
  <div class="row">
    <div class="col-md-6">

      <h1>
        <b>Asset: {{ assetName }}</b>
      </h1>
      <hr>

      <!--<div class="row">-->
      <div class="col-md-3">
        <label>Primary Asset Category</label>
        <p>{{ assetPrimaryCategory }}</p>

      </div>

      <div class="col-md-3">
        <label>Secondary Asset Category</label>
        <p>{{ assetSecondaryCategory }}</p>

      </div>

      <div class="col-md-3">
        <label>Requirements</label>
        <p-dataList [value]="requirements" [style]="{'height':'100px','width':'180px', 'overflow-x':'hidden'}">

          <ng-template let-requirementName pTemplate="item">
            {{ requirementName }}
          </ng-template>
        </p-dataList>

      </div>

      <div class="col-md-3">
        <label>Description</label>
        <textarea rows="3" [(ngModel)]="assetDescription" name="assetDesc" disabled> </textarea>

      </div>
    </div>

    <div class="col-md-6">

      <h1>
        <b>Vulnerability: {{ nameVulnerability }}</b>
      </h1>
      <hr>

      <div class="col-md-2">
        <label>CatalogueID</label>
        <p>{{ catalogueIDVuln }}</p>

      </div>

      <div class="col-md-2">
        <label>Exploitability</label>
        <p>{{ exploitabilityVuln }}</p>

      </div>

      <div class="col-md-2">
        <label>Score</label>
        <p>{{ scoreVuln }}</p>

      </div>

      <div class="col-md-2">
        <label>Scoring Type</label>
        <p>{{ scoringTypeVuln }}</p>

      </div>

      <div class="col-md-4">
        <label>Description</label>
        <textarea rows="2" [(ngModel)]="descriptionVuln" name="vulDesc" disabled> </textarea>

      </div>
    </div>
  </div>


  <div class="row">

    <div class="col-md-12">

      <h1>
        <b>Threat: {{ nameThreat }}</b>
      </h1>
      <hr>

      <div class="col-md-1">
        <label>Catalogue ID</label>
        <p>{{ catalogueIDThreat }}</p>

      </div>

      <div class="col-md-1">
        <label>Likelihood</label>
        <p>{{ likelihoodThreat }}</p>
      </div>

      <div class="col-md-1">
        <label>Score</label>
        <p>{{ scoreThreat }}</p>
      </div>

      <div class="col-md-2">
        <label>Description</label>
        <textarea rows="2" class="form-control" [(ngModel)]="descriptionThreat" name="thrDesc" disabled> </textarea>
      </div>

      <div class="col-md-1">
        <label>Actor</label>
        <textarea rows="2" class="form-control" [(ngModel)]="actorDescription" name="actDesc" disabled> </textarea>
      </div>


      <div class="col-md-1">
        <label>Place</label>
        <textarea rows="2" class="form-control" [(ngModel)]="placeDescription" name="plaDesc" disabled> </textarea>
      </div>

      <div class="col-md-1">
        <label>Time</label>
        <textarea rows="2" class="form-control" [(ngModel)]="timeDescription" name="timDesc" disabled> </textarea>
      </div>

      <div class="col-md-1">
        <label>Access</label>
        <textarea rows="2" class="form-control" [(ngModel)]="accessDescription" name="acctDesc" disabled> </textarea>
      </div>

      <div class="col-md-1">
        <label>Process</label>
        <textarea rows="2" class="form-control" [(ngModel)]="processDescription" name="procDesc" disabled> </textarea>
      </div>

      <div class="col-md-2">
        <label>Event</label>
        <textarea rows="2" class="form-control" [(ngModel)]="eventDescription" name="eveDesc" disabled> </textarea>
      </div>
    </div>
  </div>


  <p-footer>
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
      <button type="button" pButton icon="fa fa-fw fa-close" (click)="closeEditFom()" label="Cancel"></button>
      <button type="button" pButton icon="fa fa-fw fa-check" [disabled]="!enableSaveButton || !isLockedByCurrentUser()" (click)=" sendScenario()"
              label="Save Scenario"></button>
    </div>
  </p-footer>


</p-dialog>

<p-dialog header="Impact Scope" [(visible)]="showScopeInfo" modal="modal" width="600" [responsive]="true">

  <div class="row">
    <div class=WordSection1>
      <p class=MsoNormal>
        <b>Security Dimensions (Impact Scope)</b>: from the literature, three security dimensions are typically used in
        order
        to assess the scope of the Impact of compromising an Asset:</p>
      <p class=MsoListParagraph style='margin-left:36.0pt'>
        <span style='font-family:
Symbol'>·
          <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </span>
        </span>
        <b>Confidentiality </b>(In information security, confidentiality &quot;is the property, that information is not
        made
        available or disclosed to unauthorized individuals, entities, or processes&quot; – from ISO 27001)</p>
      <p class=MsoListParagraph style='margin-left:36.0pt'>
        <span style='font-family:
Symbol'>·
          <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </span>
        </span>
        <b>Integrity</b> (In information security, data integrity means maintaining and assuring the accuracy and
        completeness
        of data over its entire life-cycle. This means that data cannot be modified in an unauthorized or undetected
        manner.
        This is not the same thing as referential integrity in databases, although it can be viewed as a special case of
        consistency as understood in the classic ACID model of transaction processing. Information security systems
        typically
        provide message integrity in addition to data confidentiality)</p>
      <p class=MsoListParagraph style='margin-left:36.0pt'>
        <span style='font-family:
Symbol'>·
          <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </span>
        </span>
        <b>Availability </b>(For any information system to serve its purpose, the information must be available when it
        is needed.
        This means that the computing systems used to store and process the information, the security controls used to
        protect
        it, and the communication channels used to access it must be functioning correctly. High availability systems
        aim
        to remain available at all times, preventing service disruptions due to power outages, hardware failures, and
        system
        upgrades. Ensuring availability also involves preventing denial-of-service attacks, such as a flood of incoming
        messages
        to the target system essentially forcing it to shut down)</p>
      <p class=MsoNormal style='margin-left:18.0pt'>MEHARI also adds the
        <b>Efficiency</b>
        dimension, related to the overall performance of an implemented policy.</p>
      <p class=MsoNormal>&nbsp;</p>

    </div>
  </div>


  <p-footer>
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
      <button type="button" pButton icon="fa fa-fw fa-check" (click)="showScopeInfo=false" label="Close"></button>
    </div>

  </p-footer>
</p-dialog>

<p-dialog header="Scenario Classes" [(visible)]="showClassInfo" modal="modal" width="600" [responsive]="true">

  <div class="row">
    <div class=WordSection1>
      <p class=MsoNormal>
        <b>Threat/Scenario Class</b>: from the literature, three types of Scenario (deriving from the underlying Threat
        Event)
        are categorized:</p>
      <p class=MsoListParagraph style='margin-left:36.0pt'>
        <span style='font-family:
Symbol'>·
          <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </span>
        </span>
        <b>Accidental </b>(General accidents, or natural events)</p>
      <p class=MsoListParagraph style='margin-left:36.0pt'>
        <span style='font-family:
Symbol'>·
          <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </span>
        </span>
        <b>Error</b> (Involuntary errors)</p>
      <p class=MsoListParagraph style='margin-left:36.0pt'>
        <span style='font-family:
Symbol'>·
          <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </span>
        </span>
        <b>Deliberate </b>(Voluntary acts, whether malicious or not)&nbsp;</p>
    </div>
  </div>


  <p-footer>
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
      <button type="button" pButton icon="fa fa-fw fa-check" (click)="showClassInfo=false" label="Close"></button>
    </div>

  </p-footer>
</p-dialog>

<p-dialog header="Scenario Results" [(visible)]="showScenarioResultInfo" modal="modal" width="600" [responsive]="true">

  <div class="row">
    <div class=WordSection1>
      <p class=MsoNormal>Risk Treatment consists, of
        <a name="OLE_LINK86"></a>
        <a name="OLE_LINK85"></a>
        <a name="OLE_LINK84">analysing </a>each Risk Scenario and taking specific decisions, which could be the
        following:</p>
      <p class=MsoListParagraph style='margin-left:36.0pt'>
        <span style='font-family:
Symbol'>·
          <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </span>
        </span>
        <b>Accept</b> the risk as it is;</p>
      <p class=MsoListParagraph style='margin-left:36.0pt'>
        <span style='font-family:
Symbol'>·
          <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </span>
        </span>
        <b>Reduce</b> the risk, by taking measures to diminish the impact or the likelihood (or both), thereby reducing
        the
        residual seriousness of the risk;
      </p>
      <p class=MsoListParagraph style='margin-left:36.0pt'>
        <span style='font-family:
Symbol'>·
          <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </span>
        </span>
        <b>Avoid</b> the risk by removing the risk situation using structural or organizational measures; </p>
      <p class=MsoListParagraph style='margin-left:36.0pt'>
        <span style='font-family:
Symbol'>·
          <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </span>
        </span>
        <b>Transfer</b> the risk, typically through insurance.</p>
      <p class=MsoNormal>&nbsp;</p>
      <p class=MsoNormal>The SEST tool will exclude from Risk Treatment all Risk Scenario not tagged to be
        <i>reduced</i> (but the other possible choices will be shown in the Risk Report).</p>
      <p class=MsoNormal>&nbsp;</p>

    </div>
  </div>


  <p-footer>
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
      <button type="button" pButton icon="fa fa-fw fa-check" (click)="showScenarioResultInfo=false"
              label="Close"></button>
    </div>

  </p-footer>
</p-dialog>

<p-dialog header="Exclude Scenario" [(visible)]="showExcludeScenarioInfo" modal="modal" width="600" [responsive]="true">

  <div class="row">
    <div class=WordSection1>
      <p class=MsoNormal>If a Risk Scenario is Excluded, it will not treated in the Risk Treatment Page and its
        Calculated Seriousness will
        be set at LOW.</p>
    </div>
  </div>


  <p-footer>
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
      <button type="button" pButton icon="fa fa-fw fa-check" (click)="showExcludeScenarioInfo=false"
              label="Close"></button>
    </div>

  </p-footer>
</p-dialog>

<p-dialog header="Intrinsic Impact" [(visible)]="showIntrisincImpactInfo" modal="modal" width="600" [responsive]="true">

  <div class="row">
    <div class=WordSection1>
      <p class=MsoNormal>The intrinsic Impact of a risk is defined by the maximum level of consequence the organization
        may face, in the absence
        of any security measure (or Safeguard) designed specifically to reduce these consequences.</p>

      <p class=MsoNormal>Scale of Impact </p>
      <p class=MsoListParagraph style='margin-left:18.0pt'>
        <span style='font-family:
Symbol'>·
          <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </span>
        </span>
        <b>LOW </b>(Not significant)</p>
      <p class=MsoListParagraph style='margin-left:18.0pt'>
        <span style='font-family:
Symbol'>·
          <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </span>
        </span>
        <b>MEDIUM</b> (Serious)</p>
      <p class=MsoListParagraph style='margin-left:18.0pt'>
        <span style='font-family:
Symbol'>·
          <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </span>
        </span>
        <b>HIGH </b>(Very serious)</p>
      <p class=MsoListParagraph style='margin-left:18.0pt'>
        <span style='font-family:
Symbol'>·
          <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </span>
        </span>
        <b>CRITICAL</b> (Vital)</p>
      <p class=MsoNormal>&nbsp;</p>
    </div>
  </div>


  <p-footer>
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
      <button type="button" pButton icon="fa fa-fw fa-check" (click)="showIntrisincImpactInfo=false"
              label="Close"></button>
    </div>

  </p-footer>
</p-dialog>

<p-dialog header="Intrinsic Likelihood" [(visible)]="showIntrisincLikelihoodInfo" modal="modal" width="600"
          [responsive]="true">

  <div class="row">
    <div class=WordSection1>
      <p class=MsoNormal>The intrinsic Likelihood is defined as the maximum probability that the risk will occur, in
        absence of any safeguard
        designed specifically to reduce this probability.</p>

      <p class=MsoNormal>Scale of Likelihood </p>
      <p class=MsoListParagraph style='margin-left:18.0pt'>
        <span style='font-family:
Symbol'>·
          <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </span>
        </span>
        <b>LOW </b>(Very unlikely)</p>
      <p class=MsoListParagraph style='margin-left:18.0pt'>
        <span style='font-family:
Symbol'>·
          <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </span>
        </span>
        <b>MEDIUM</b> (Fairly unlikely)</p>
      <p class=MsoListParagraph style='margin-left:18.0pt'>
        <span style='font-family:
Symbol'>·
          <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </span>
        </span>
        <b>HIGH </b>(Fairly likely)</p>
      <p class=MsoListParagraph style='margin-left:18.0pt'>
        <span style='font-family:
Symbol'>·
          <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </span>
        </span>
        <b>VERY_HIGH </b>(Very likely)</p>
      <p class=MsoNormal>&nbsp;</p>
    </div>
  </div>


  <p-footer>
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
      <button type="button" pButton icon="fa fa-fw fa-check" (click)="showIntrisincLikelihoodInfo=false"
              label="Close"></button>
    </div>

  </p-footer>
</p-dialog>

<p-dialog header="Intrinsic Seriousness" [(visible)]="showIntrisincSeriousnessInfo" modal="modal" width="600"
          [responsive]="true">

  <div class="row">
    <div class=WordSection1>
      <p class=MsoNormal>The resulting Seriousness of a Risk Scenario without considering any Safeguard.</p>

      <p class=MsoNormal>Scale of Seriousness </p>
      <p class=MsoListParagraph style='margin-left:18.0pt'>
        <span style='font-family:
Symbol'>·
          <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </span>
        </span>
        <b>LOW </b>(Not significant)</p>
      <p class=MsoListParagraph style='margin-left:18.0pt'>
        <span style='font-family:
Symbol'>·
          <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </span>
        </span>
        <b>MEDIUM</b> (Serious)</p>
      <p class=MsoListParagraph style='margin-left:18.0pt'>
        <span style='font-family:
Symbol'>·
          <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </span>
        </span>
        <b>HIGH </b>(Very serious)</p>
      <p class=MsoListParagraph style='margin-left:18.0pt'>
        <span style='font-family:
Symbol'>·
          <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </span>
        </span>
        <b>CRITICAL</b> (Vital)</p>
      <p class=MsoNormal>&nbsp;</p>
    </div>
  </div>


  <p-footer>
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
      <button type="button" pButton icon="fa fa-fw fa-check" (click)="showIntrisincSeriousnessInfo=false"
              label="Close"></button>
    </div>

  </p-footer>
</p-dialog>

<p-dialog header="Calculated Impact" [(visible)]="showCalculatedImpactInfo" modal="modal" width="600"
          [responsive]="true">

  <div class="row">
    <div class=WordSection1>
      <p class=MsoNormal>The residual Impact given the implemented safeguards.</p>

      <p class=MsoNormal>Scale of Impact </p>
      <p class=MsoListParagraph style='margin-left:18.0pt'>
        <span style='font-family:
Symbol'>·
          <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </span>
        </span>
        <b>LOW </b>(Not significant)</p>
      <p class=MsoListParagraph style='margin-left:18.0pt'>
        <span style='font-family:
Symbol'>·
          <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </span>
        </span>
        <b>MEDIUM</b> (Serious)</p>
      <p class=MsoListParagraph style='margin-left:18.0pt'>
        <span style='font-family:
Symbol'>·
          <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </span>
        </span>
        <b>HIGH </b>(Very serious)</p>
      <p class=MsoListParagraph style='margin-left:18.0pt'>
        <span style='font-family:
Symbol'>·
          <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </span>
        </span>
        <b>CRITICAL</b> (Vital)</p>
      <p class=MsoNormal>&nbsp;</p>
    </div>
  </div>


  <p-footer>
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
      <button type="button" pButton icon="fa fa-fw fa-check" (click)="showCalculatedImpactInfo=false"
              label="Close"></button>
    </div>

  </p-footer>
</p-dialog>

<p-dialog header="Calculated Likelihood" [(visible)]="showCalculatedLikelihoodInfo" modal="modal" width="600"
          [responsive]="true">

  <div class="row">
    <div class=WordSection1>
      <p class=MsoNormal>The residual Likelihood given the implemented safeguards.</p>

      <p class=MsoNormal>Scale of Likelihood </p>
      <p class=MsoListParagraph style='margin-left:18.0pt'>
        <span style='font-family:
Symbol'>·
          <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </span>
        </span>
        <b>LOW </b>(Very unlikely)</p>
      <p class=MsoListParagraph style='margin-left:18.0pt'>
        <span style='font-family:
Symbol'>·
          <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </span>
        </span>
        <b>MEDIUM</b> (Fairly unlikely)</p>
      <p class=MsoListParagraph style='margin-left:18.0pt'>
        <span style='font-family:
Symbol'>·
          <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </span>
        </span>
        <b>HIGH </b>(Fairly likely)</p>
      <p class=MsoListParagraph style='margin-left:18.0pt'>
        <span style='font-family:
Symbol'>·
          <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </span>
        </span>
        <b>VERY_HIGH </b>(Very likely)</p>
      <p class=MsoNormal>&nbsp;</p>
    </div>
  </div>


  <p-footer>
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
      <button type="button" pButton icon="fa fa-fw fa-check" (click)="showCalculatedLikelihoodInfo=false"
              label="Close"></button>
    </div>

  </p-footer>
</p-dialog>

<p-dialog header="Calculated Seriousness" [(visible)]="showCalculatedSeriousnessInfo" modal="modal" width="600"
          [responsive]="true">

  <div class="row">
    <div class=WordSection1>
      <p class=MsoNormal>The final Seriousness of the Risk Scenario given the implemented safeguards and possible values
        inserted by the risk
        analyst.</p>

      <p class=MsoNormal>Scale of Seriousness </p>
      <p class=MsoListParagraph style='margin-left:18.0pt'>
        <span style='font-family:
Symbol'>·
          <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </span>
        </span>
        <b>LOW </b>(Not significant)</p>
      <p class=MsoListParagraph style='margin-left:18.0pt'>
        <span style='font-family:
Symbol'>·
          <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </span>
        </span>
        <b>MEDIUM</b> (Serious)</p>
      <p class=MsoListParagraph style='margin-left:18.0pt'>
        <span style='font-family:
Symbol'>·
          <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </span>
        </span>
        <b>HIGH </b>(Very serious)</p>
      <p class=MsoListParagraph style='margin-left:18.0pt'>
        <span style='font-family:
Symbol'>·
          <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </span>
        </span>
        <b>CRITICAL</b> (Vital)</p>
      <p class=MsoNormal>&nbsp;</p>
    </div>
  </div>


  <p-footer>
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
      <button type="button" pButton icon="fa fa-fw fa-check" (click)="showCalculatedSeriousnessInfo=false"
              label="Close"></button>
    </div>

  </p-footer>
</p-dialog>

<p-dialog header="Expert Impact" [(visible)]="showExpertImpactInfo" modal="modal" width="600" [responsive]="true">

  <div class="row">
    <div class=WordSection1>
      <p class=MsoNormal>The risk analyst can at any moment insert a value for the Impact, overriding any Impact
        computation by SEST.</p>

      <p class=MsoNormal>Scale of Impact </p>
      <p class=MsoListParagraph style='margin-left:18.0pt'>
        <span style='font-family:
Symbol'>·
          <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </span>
        </span>
        <b>LOW </b>(Not significant)</p>
      <p class=MsoListParagraph style='margin-left:18.0pt'>
        <span style='font-family:
Symbol'>·
          <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </span>
        </span>
        <b>MEDIUM</b> (Serious)</p>
      <p class=MsoListParagraph style='margin-left:18.0pt'>
        <span style='font-family:
Symbol'>·
          <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </span>
        </span>
        <b>HIGH </b>(Very serious)</p>
      <p class=MsoListParagraph style='margin-left:18.0pt'>
        <span style='font-family:
Symbol'>·
          <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </span>
        </span>
        <b>CRITICAL</b> (Vital)</p>
      <p class=MsoNormal>&nbsp;</p>
    </div>
  </div>


  <p-footer>
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
      <button type="button" pButton icon="fa fa-fw fa-check" (click)="showExpertImpactInfo=false"
              label="Close"></button>
    </div>

  </p-footer>
</p-dialog>

<p-dialog header="Expert Likelihood" [(visible)]="showExpertLikelihoodInfo" modal="modal" width="600"
          [responsive]="true">

  <div class="row">
    <div class=WordSection1>
      <p class=MsoNormal>The risk analyst can at any moment insert a value for the Likelihood, overriding any Likelihood
        computation by SEST.</p>

      <p class=MsoNormal>Scale of Likelihood </p>
      <p class=MsoListParagraph style='margin-left:18.0pt'>
        <span style='font-family:
Symbol'>·
          <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </span>
        </span>
        <b>LOW </b>(Very unlikely)</p>
      <p class=MsoListParagraph style='margin-left:18.0pt'>
        <span style='font-family:
Symbol'>·
          <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </span>
        </span>
        <b>MEDIUM</b> (Fairly unlikely)</p>
      <p class=MsoListParagraph style='margin-left:18.0pt'>
        <span style='font-family:
Symbol'>·
          <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </span>
        </span>
        <b>HIGH </b>(Fairly likely)</p>
      <p class=MsoListParagraph style='margin-left:18.0pt'>
        <span style='font-family:
Symbol'>·
          <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </span>
        </span>
        <b>VERY_HIGH </b>(Very likely)</p>
      <p class=MsoNormal>&nbsp;</p>
    </div>
  </div>


  <p-footer>
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
      <button type="button" pButton icon="fa fa-fw fa-check" (click)="showExpertLikelihoodInfo=false"
              label="Close"></button>
    </div>

  </p-footer>
</p-dialog>
