<!-------------------------------------------------------------------------------------------------------------------
// Copyright file="safeguard-definition.component.html"
//  © Copyright European Space Agency, 2018-2020
//
//  Author: Software developed by RHEA System S.A.
//
//  This file is subject to the terms and conditions defined in file 'LICENSE.txt', which is part of this source code package.
//  No part of the package, including this file, may be copied, modified, propagated, or distributed
//  except according to the terms contained in the file ‘LICENSE.txt’.
// -------------------------------------------------------------------------------------------------------------------->

<div class="container-fluid" *ngIf="safeguards$ | async as taxonomies">
  <p-card header="Define the Safeguards: ">
    <div class="row">
      <div class="col-lg-9">
        <p-table #dt [value]="taxonomies" [responsive]="true" [rows]="10" [paginator]="true"
                 [tableStyle]="{'font-size':'11px'}" [resizableColumns]="true" [autoLayout]="true"
        >
          <ng-template pTemplate="header">
            <tr>
              <th scope="col">Safeguard Code</th>
              <th scope="col">Safeguard</th>
            </tr>
            <tr>
              <th scope="col">
                <div class="ui-inputgroup">
                  <span class="ui-inputgroup-addon"><em class="pi pi-search" style="line-height: 1.25;"></em></span>
                  <input pInputText type="text" (input)="dt.filter($event.target.value, 'category', 'startsWith')"
                         class="my-input">
                </div>
              </th>
              <th scope="col">
                <div class="ui-inputgroup">
                  <span class="ui-inputgroup-addon"><em class="pi pi-search" style="line-height: 1.25;"></em></span>
                  <input pInputText type="text" (input)="dt.filter($event.target.value, 'value', 'startsWith')"
                         class="my-input max-input-width">
                </div>
              </th>
            </tr>

          </ng-template>
          <ng-template pTemplate="body" let-taxonomy let-rowIndex="rowIndex">
            <tr>
              <td>
                {{ taxonomy.category }}
              </td>
              <td>
                {{ taxonomy.value }}
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>

      <div class="col-lg-3" [formGroup]="form">
        <div class="row">
          <div class="col-lg-12">
            <h5><strong>Dissuasion</strong></h5>
            <input pInputText type="text" formControlName="dissuasion">
            <p style="color: red" *ngIf="form.get('dissuasion').errors?.wrongFormula">Wrong formula</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <h5><strong>Prevention</strong></h5>
            <input pInputText type="text" formControlName="prevention">
            <p style="color: red" *ngIf="form.get('prevention').errors?.wrongFormula">Wrong formula</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <h5><strong>Confining</strong></h5>
            <input pInputText type="text" formControlName="confining">
            <p style="color: red" *ngIf="form.get('confining').errors?.wrongFormula">Wrong formula</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <h5><strong>Palliative</strong></h5>
            <input pInputText type="text" formControlName="palliative">
            <p style="color: red" *ngIf="form.get('palliative').errors?.wrongFormula">Wrong formula</p>
          </div>
        </div>
        <div class="row" style="margin-top: 10px">
          <div class="col-lg-12">
            <em class="fa fa-question-circle" (click)="showFormulaInfo()"></em> Formula Format
          </div>
        </div>
      </div>
    </div>
  </p-card>

  <p-dialog header="Safeguard Formula" [(visible)]="displayFormulaInfo" width="700" [responsive]="true">

      <div class="col-md-12">
        <label>Formula Info :</label>
        <pre>{{ formulaInfo }}</pre>
      </div>

    <p-footer>
      <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
        <button type="button" pButton icon="fa fa-fw fa-check" (click)="displayFormulaInfo=false" label="Ok"></button>
      </div>
    </p-footer>
  </p-dialog>
</div>
