<!--------------------------------------------------------------------------------------------------------------------
// Copyright file="add-edit-row.component.html"
//  © Copyright European Space Agency, 2018-2020
//
//  Author: Software developed by RHEA System S.A.
//
//  This file is subject to the terms and conditions defined in file 'LICENSE.txt', which is part of this source code package.
//  No part of the package, including this file, may be copied, modified, propagated, or distributed
//  except according to the terms contained in the file ‘LICENSE.txt’.
// -------------------------------------------------------------------------------------------------------------------->

<p-dialog header="{{labelPopUp}}" [(visible)]="showPopup" modal="modal" [style]="{width: '800px'}" responsive="true" (onHide)="onClose()" appendTo="body">

<div class="container-fluid">
  <form [formGroup]="form" novalidate>
    <div class="row">

      <div class="col-lg-4">

        <div class="row">
          <div class="col-lg-12">
            <label>Name*</label>
            <input pInputText type="text" formControlName="name" style="width: 95%">
            <control-messages [control]="form.controls.name"></control-messages>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <label>Catalogue Id*</label>
            <input pInputText type="text" formControlName="catalogueId" style="width: 95%">
            <control-messages [control]="form.controls.catalogueId"></control-messages>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <h5><b>Damage*</b></h5>
            <textarea rows="4" cols="22" pInputTextarea formControlName="description"></textarea>
            <control-messages [control]="form.controls.description"></control-messages>
          </div>
        </div>

      </div>

      <div class="col-lg-4">
        <label>Affected Assets Categories*</label>
        <p-listbox [options]="secondaryCategories" formControlName="affectedAssetsCategories" optionLabel="value" [multiple]="true" [checkbox]="true"
                   (onChange)="filterThreats()" [filter]="true" [listStyle]="{'max-height':'160px'}" [style]="{'width':'100%'}">
        </p-listbox>
      </div>
      <div class="col-lg-4" *ngIf="filteredThreats$ | async as threatsTaxonomies">
        <label>Associated Threats*</label>
        <p-listbox [options]="threatsTaxonomies" formControlName="associatedThreats" [multiple]="true" [checkbox]="true"
                   [filter]="true" optionLabel="value" [listStyle]="{'max-height':'160px'}" [style]="{'width':'100%'}"
                   >
        </p-listbox>
      </div>
    </div>

    <div class="row" style="margin-top: 10px">
      <div class="col-md-12">
        <label style="margin-top: 10px">Vulnerability Score</label>
        <hr>
      </div>
    </div>

    <div class="row" [formGroup]="form.get('score').get('securityImpacts')">
      <div class="col-lg-3">
        <label>Confidentiality</label>
        <p-dropdown [options]="impacts" formControlName="confidentiality" placeholder="Select a Value" [showClear]="true" [style]="{'min-width':0, 'width':'90%'}"></p-dropdown>
        <control-messages [control]="form.get('score.securityImpacts')"></control-messages>
      </div>
      <div class="col-lg-3">
        <label>Integrity</label>
        <p-dropdown [options]="impacts" formControlName="integrity" placeholder="Select a Value" [showClear]="true" [style]="{'min-width':0, 'width':'90%'}"></p-dropdown>
      </div>
      <div class="col-lg-3">
        <label>Availability</label>
        <p-dropdown [options]="impacts" formControlName="availability" placeholder="Select a Value" [showClear]="true" [style]="{'min-width':0, 'width':'90%'}"></p-dropdown>
      </div>
      <div class="col-lg-3">
        <label>Efficiency</label>
        <p-dropdown [options]="impacts" formControlName="efficiency" placeholder="Select a Value" [showClear]="true" [style]="{'min-width':0, 'width':'90%'}"></p-dropdown>
      </div>

    </div>

    <div class="row" [formGroup]="form.get('score')">
      <div class="col-lg-12" >
        <h5><b>Description*</b></h5>
        <textarea rows="5" cols="84" formControlName="description" pInputTextarea ></textarea>
        <control-messages [control]="form.get('score.description')"></control-messages>
      </div>
    </div>
  </form>
</div>
  <p-footer>
    <button type="button" pButton icon="pi pi-times" label="Cancel" (click)="showPopup = false"></button>
    <button type="button" pButton icon="pi pi-check" label="Save" [disabled]="!form.valid" (click)="onSave()"></button>
  </p-footer>
</p-dialog>
