<!--  --------------------------------------------------------------------------------------------------------------------
// Copyright file="setting.component.html"
//  © Copyright European Space Agency, 2018-2020
//
//  Author: Software developed by RHEA System S.A.
//
//  This file is subject to the terms and conditions defined in file 'LICENSE.txt', which is part of this source code package.
//  No part of the package, including this file, may be copied, modified, propagated, or distributed
//  except according to the terms contained in the file ‘LICENSE.txt’.
// -------------------------------------------------------------------------------------------------------------------- -->

<div class="container" id="settingstabcontainer">
  <h2>Taxonomies Update</h2>
  <div class="panel panel-default" style="border: 2px solid">
    <div class="panel-body">
      <p style="float: left">
        <strong>Vulnerability Reference Taxonomy</strong>
      </p>
      <button style="border: 1px solid;float: right " type="button" class="btn btn-primary btn-sm" (click)="updateVulnerability()">
        <strong>Update</strong>
      </button>
    </div>
  </div>

  <div class="panel panel-default" style="border: 2px solid">
    <div class="panel-body">
      <p style="float: left">
        <strong>Threat Reference Taxonomy</strong>
      </p>
      <button style="border: 1px solid;float: right " type="button" class="btn btn-primary btn-sm" (click)="updateThreat()">
        <strong>Update</strong>
      </button>
    </div>
  </div>

  <div class="panel panel-default" style="border: 2px solid">
    <div class="panel-body">
      <p style="float: left">
        <strong>Scenario Reference Taxonomy</strong>
      </p>
      <button style="border: 1px solid;float: right " type="button" class="btn btn-primary btn-sm" (click)="updateScenario()">
        <strong>Update</strong>
      </button>
    </div>
  </div>

  <div class="panel panel-default" style="border: 2px solid">
    <div class="panel-body">
      <p style="float: left">
        <strong> GASF Reference Taxonomy</strong>
      </p>
      <button style="border: 1px solid;float: right " type="button" class="btn btn-primary btn-sm" (click)="updateGasf()">
        <strong>Update</strong>
      </button>
    </div>
  </div>

  <div class="panel panel-default" style="border: 2px solid">
    <div class="panel-body">
      <p style="float: left">
        <strong> Audit Reference Taxonomy</strong>
      </p>
      <button style="border: 1px solid;float: right " type="button" class="btn btn-primary btn-sm" (click)="updateAudit()">
        <strong>Update</strong>
      </button>
    </div>
  </div>

</div>

<p-dialog [(visible)]="blocked" modal="modal" [responsive]="true" [showHeader]="false" class="settingsSpinner">

  <div *ngIf="!blockedMessage">
    <h1></h1>
    <div class="loader"></div>
  </div>

  <div *ngIf="blockedMessage">

    <p-messages [(value)]="msgsAsset"></p-messages>

  </div>

</p-dialog>
